@import 'tailwindcss';

@import './lib/stylesheets/c-button.css' layer(components);
@import './lib/stylesheets/c-input.css' layer(components);
@import './lib/stylesheets/c-typo.css' layer(components);
@import './lib/stylesheets/c-field.css' layer(components);
@import './lib/stylesheets/c-menu.css' layer(components);
@import './lib/stylesheets/c-inline-alert.css' layer(components);
@import './lib/stylesheets/c-editor.css' layer(components);

@plugin '@tailwindcss/typography';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant accent (&:where([data-theme=accent], [data-theme=accent] *));

@theme {
	--color-base: oklch(99% 0.002 261.46);
	--color-base-light: oklch(100% 0.002 261.46);
	--color-base-dark: oklch(98% 0.002 261.46);
	--color-base-hover: oklch(97.5% 0.008 261.46);
	--color-base-active: oklch(97% 0.016 261.46);
	--color-base-selected: oklch(97.5% 0.016 261.46);
	--color-base-border: oklch(94% 0.002 261.46);
	--color-base-border-strong: oklch(86% 0.002 261.46);
	--color-base-border-weak: oklch(94% 0.002 261.46);
	/* --color-base-fg: oklch(30% 0.002 261.46); */
	--color-base-fg: oklch(44.91% 0.04 261.46);
	--color-base-fg-weak: oklch(36% 0.002 261.46);
	--color-base-fg-strong: oklch(24% 0.01 261.46);
	--color-base-fg-dim: oklch(50% 0.002 261.46);
	--color-base-fg-muted: oklch(70% 0.002 261.46);

	--color-primary: oklch(52.93% 0.2346 261.46);
	--color-primary-hover: oklch(55.93% 0.2346 261.46);
	--color-primary-active: oklch(49.93% 0.2346 261.46);
	--color-primary-border: oklch(47.93% 0.2346 261.46);
	--color-primary-fg: oklch(98.9% 0.005 261.46);

	--color-negative: oklch(54.5% 0.1888 24.42);
	--color-negative-hover: oklch(58.5% 0.1888 24.42);
	--color-negative-active: oklch(52.5% 0.1888 24.42);
	--color-negative-fg: oklch(98.9% 0.005 24.42);
	--color-negative-border: oklch(49.5% 0.1888 24.42);

	--color-positive: oklch(50.49% 0.1717 142.5);
	--color-positive-fg: oklch(96% 0.005 142.5);
	--color-positive-border: oklch(45.49% 0.1717 142.5);

	--color-info: oklch(52.19% 0.1978 258.63);
	--color-info-hover: oklch(55.19% 0.1978 258.63);
	--color-info-fg: oklch(98.9% 0.005 258.63);

	--spacing-container-xl: 1536px;
	--spacing-container-lg: 1024px;
	--spacing-container-md: 768px;
	--spacing-container-sm: 640px;
	--spacing-avatar-sm: 32px;
	--spacing-avatar-md: 64px;
	--spacing-avatar-lg: 128px;
	--spacing-avatar-lg: 256px;

	--text-display-lg: 3.5rem;
	--text-display-md: 3rem;
	--text-title-md: 2rem;
	--text-title-sm: 1.5rem;
	--text-title-xs: 1.25rem;
	--text-body-md: 1rem;
	--text-body-sm: 0.875rem;
	--text-body-xs: 0.75rem;

	--default-transition-duration: 75ms;

	--default-font-family: 'Google Sans Flex', system-ui, sans-serif;
	--default-mono-font-family: 'Geist Mono Variable', monospace;
}

@layer base {
	[data-theme='dark'],
	[data-theme='dark'] * {
		--color-base: oklch(16% 0.005 55.59);
		--color-base-light: oklch(20% 0.005 55.59);
		--color-base-dark: oklch(12% 0.005 55.59);
		--color-base-hover: oklch(24% 0.005 55.59);
		--color-base-active: oklch(20% 0.005 55.59);
		--color-base-selected: oklch(20% 0.005 55.59);
		--color-base-border: oklch(22% 0.005 55.59);
		--color-base-border-strong: oklch(24% 0.005 55.59);
		--color-base-border-weak: oklch(20% 0.005 55.59);
		--color-base-fg: oklch(80% 0.005 55.59);
		--color-base-fg-strong: oklch(92% 0.005 55.59);
		--color-base-fg-weak: oklch(72% 0.005 55.59);
		--color-base-fg-dim: oklch(68% 0.005 55.59);
		--color-base-fg-muted: oklch(60% 0.005 55.59);

		--color-primary: oklch(59.72% 0.1468 55.55);
		--color-primary-hover: oklch(63.72% 0.1468 55.55);
		--color-primary-active: oklch(55.72% 0.1468 55.55);
		--color-primary-border: oklch(55.72% 0.1468 55.55);
		--color-primary-fg: oklch(3% 0.005 55.59);
	}

	[data-theme='accent'],
	[data-theme='accent'] * {
		--color-base: oklch(24% 0.06 261.46);
		--color-base-light: oklch(24% 0.06 261.46);
		--color-base-dark: oklch(24% 0.06 261.46);
		--color-base-hover: oklch(24% 0.06 261.46);
		--color-base-active: oklch(24% 0.06 261.46);
		--color-base-selected: oklch(24% 0.06 261.46);
		--color-base-border: oklch(30% 0.06 261.46);
		--color-base-border-strong: oklch(34% 0.06 261.46);
		--color-base-border-weak: oklch(28% 0.06 261.46);
		--color-base-fg: oklch(70% 0.02 261.46);
		--color-base-fg-strong: oklch(100% 0.02 261.46);
		--color-base-fg-weak: oklch(60% 0.02 261.46);
		--color-base-fg-dim: oklch(55% 0.02 261.46);
		--color-base-fg-muted: oklch(50% 0.02 261.46);
	}
}

@layer base {
	:root {
		font-size: 14px;
		font-weight: 400;
		color: var(--color-base-fg);
		line-height: 1.5;
	}

	body {
		font-size: var(--text-body-md);
		background-color: var(--color-base);
	}

	small {
		font-size: var(--text-body-sm);
	}
}

@utility ring-focus-primary {
	@apply ring-2 ring-primary/20;
}

@utility ring-focus-base-fg {
	@apply ring-2 ring-base-fg/15;
}

@utility ring-focus-negative {
	@apply ring-2 ring-negative/20;
}

.tiptap p.is-editor-empty:first-child::before {
	color: var(--color-base-fg-muted);
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}
.tiptap ul[data-type='taskList'] li,
.prose ul[data-type='taskList'] li {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 1ch;

	& > div > p {
		margin: 0;
	}

	& > label > input {
		display: block;
		transform: translateY(calc(1rem - 0.5lh));
		accent-color: var(--color-primary);
	}
}

@utility prose {
	--tw-prose-body: var(--color-base-fg);
	--tw-prose-headings: var(--color-base-fg-strong);
	--tw-prose-lead: var(--color-pink-700);
	--tw-prose-links: var(--color-info);
	--tw-prose-bold: var(--color-base-fg-strong);
	--tw-prose-counters: var(--color-base-fg-muted);
	--tw-prose-bullets: var(--color-base-fg-muted);
	--tw-prose-hr: var(--color-base-border);
	--tw-prose-quotes: var(--color-base-fg-muted);
	--tw-prose-quote-borders: var(--color-base-border-weak);
	--tw-prose-captions: var(--color-pink-700);
	--tw-prose-code: var(--color-base-fg);
	--tw-prose-pre-code: var(--color-base-fg);
	--tw-prose-pre-bg: var(--color-base-dark);
	--tw-prose-th-borders: var(--color-base-border);
	--tw-prose-td-borders: var(--color-base-border);

	--tw-prose-invert-body: var(--tw-prose-body);
	--tw-prose-invert-headings: var(--tw-prose-headings);
	--tw-prose-invert-lead: var(--tw-prose-lead);
	--tw-prose-invert-links: var(--tw-prose-links);
	--tw-prose-invert-bold: var(--tw-prose-bold);
	--tw-prose-invert-counters: var(--tw-prose-counters);
	--tw-prose-invert-bullets: var(--tw-prose-bullets);
	--tw-prose-invert-hr: var(--tw-prose-hr);
	--tw-prose-invert-quotes: var(--tw-prose-quotes);
	--tw-prose-invert-quote-borders: var(--tw-prose-quote-borders);
	--tw-prose-invert-captions: var(--tw-prose-captions);
	--tw-prose-invert-code: var(--tw-prose-code);
	--tw-prose-invert-pre-code: var(--tw-prose-pre-code);
	--tw-prose-invert-pre-bg: var(--tw-prose-pre-bg);
	--tw-prose-invert-th-borders: var(--tw-prose-th-borders);
	--tw-prose-invert-td-borders: var(--tw-prose-td-borders);

	line-height: inherit;
	font-size: inherit;
}
