@import 'tailwindcss';

@import './lib/stylesheets/c-button.css' layer(components);
@import './lib/stylesheets/c-input.css' layer(components);
@import './lib/stylesheets/c-typo.css' layer(components);
@import './lib/stylesheets/c-field.css' layer(components);
@import './lib/stylesheets/c-menu.css' layer(components);

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant accent (&:where([data-theme=accent], [data-theme=accent] *));

@theme {
	--color-base: oklch(97% 0.005 55.59);
	--color-base-light: oklch(99% 0.005 55.59);
	--color-base-dark: oklch(95% 0.005 55.59);
	--color-base-hover: oklch(95% 0.005 55.59);
	--color-base-active: oklch(92% 0.005 55.59);
	--color-base-selected: oklch(90% 0.005 55.59);
	--color-base-border: oklch(90% 0.005 55.59);
	--color-base-border-strong: oklch(86% 0.005 55.59);
	--color-base-border-weak: oklch(94% 0.005 55.59);
	--color-base-fg: oklch(30% 0.005 55.59);
	--color-base-fg-weak: oklch(36% 0.005 55.59);
	--color-base-fg-strong: oklch(24% 0.005 55.59);
	--color-base-fg-dim: oklch(50% 0.005 55.59);
	--color-base-fg-muted: oklch(70% 0.005 55.59);

	--color-primary: oklch(55.36% 0.1358 55.59);
	--color-primary-hover: oklch(58.36% 0.1358 55.59);
	--color-primary-active: oklch(52.36% 0.1358 55.59);
	--color-primary-border: oklch(52.36% 0.1358 55.59);
	--color-primary-fg: oklch(100% 0.005 55.59);

	--color-negative: oklch(54.76% 0.2242 29.3);
	--color-negative-fg: oklch(96% 0.005 29.3);

	--color-positive: oklch(50.49% 0.1717 142.5);
	--color-positive-fg: oklch(96% 0.005 142.5);

	--spacing-container-xl: 1536px;
	--spacing-container-lg: 1024px;
	--spacing-container-md: 768px;
	--spacing-container-sm: 640px;
	--spacing-avatar-sm: 32px;
	--spacing-avatar-md: 64px;
	--spacing-avatar-lg: 128px;
	--spacing-avatar-lg: 256px;

	--text-display-lg: 3.5rem;
	--text-display-md: 3rem;
	--text-title-md: 2.5rem;
	--text-title-sm: 1.5rem;
	--text-title-xs: 1.25rem;
	--text-body-md: 1rem;
	--text-body-sm: 0.875rem;
	--text-body-xs: 0.75rem;

	--default-font-family: 'Manrope Variable', system-ui;
}

@layer base {
	[data-theme='dark'],
	[data-theme='dark'] * {
		--color-base: oklch(16% 0.005 55.59);
		--color-base-light: oklch(20% 0.005 55.59);
		--color-base-dark: oklch(12% 0.005 55.59);
		--color-base-hover: oklch(24% 0.005 55.59);
		--color-base-active: oklch(20% 0.005 55.59);
		--color-base-selected: oklch(20% 0.005 55.59);
		--color-base-border: oklch(22% 0.005 55.59);
		--color-base-border-strong: oklch(24% 0.005 55.59);
		--color-base-border-weak: oklch(20% 0.005 55.59);
		--color-base-fg: oklch(80% 0.005 55.59);
		--color-base-fg-strong: oklch(92% 0.005 55.59);
		--color-base-fg-weak: oklch(72% 0.005 55.59);
		--color-base-fg-dim: oklch(68% 0.005 55.59);
		--color-base-fg-muted: oklch(60% 0.005 55.59);

		--color-primary: oklch(59.72% 0.1468 55.55);
		--color-primary-hover: oklch(63.72% 0.1468 55.55);
		--color-primary-active: oklch(55.72% 0.1468 55.55);
		--color-primary-border: oklch(55.72% 0.1468 55.55);
		--color-primary-fg: oklch(3% 0.005 55.59);
	}

	[data-theme='accent'],
	[data-theme='accent'] * {
		--color-base: oklch(28.27% 0.0286 68.85);
		--color-base-light: oklch(32.27% 0.0286 68.85);
		--color-base-dark: oklch(24.27% 0.0286 68.85);
		--color-base-hover: oklch(34.27% 0.0286 68.85);
		--color-base-active: oklch(32.27% 0.0286 68.85);
		--color-base-selected: oklch(32.27% 0.0286 68.85);
		--color-base-border: oklch(34.27% 0.0286 68.85);
		--color-base-border-strong: oklch(38.27% 0.0286 68.85);
		--color-base-border-weak: oklch(32.27% 0.0286 68.85);
		--color-base-fg: oklch(82.22% 0.02 68.85);
		--color-base-fg-strong: oklch(96.22% 0.02 68.85);
		--color-base-fg-weak: oklch(72.22% 0.02 68.85);
		--color-base-fg-dim: oklch(64.22% 0.02 68.85);
		--color-base-fg-muted: oklch(56.22% 0.02 68.85);
	}
}

@layer base {
	:root {
		font-size: 14px;
		font-weight: 500;
		color: var(--color-base-fg);
		line-height: 1.5;
		overflow-wrap: anywhere;
	}

	body {
		font-size: var(--text-body-md);
		background-color: var(--color-base);
	}

	small {
		font-size: var(--text-body-sm);
	}
}

@utility ring-focus-primary {
	@apply ring ring-primary ring-offset-1 ring-offset-base;
}

@utility ring-focus-base-fg-muted {
	@apply ring ring-base-fg-muted ring-offset-1 ring-offset-base;
}
