@import 'tailwindcss';

@import './lib/stylesheets/c-button.css' layer(components);
@import './lib/stylesheets/c-input.css' layer(components);
@import './lib/stylesheets/c-typo.css' layer(components);
@import './lib/stylesheets/c-field.css' layer(components);
@import './lib/stylesheets/c-menu.css' layer(components);
@import './lib/stylesheets/c-inline-alert.css' layer(components);
@import './lib/stylesheets/c-editor.css' layer(components);

@plugin '@tailwindcss/typography';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant accent (&:where([data-theme=accent], [data-theme=accent] *));

@theme {
    --color-surface: oklch(100% 0 240);
    --color-surface-subtle: oklch(99% 0 240);
    --color-surface-emph: oklch(97% 0 240);
    --color-surface-border: oklch(94% 0 240);

    --color-base: oklch(95% 0 240);
    --color-base-subtle: oklch(93.5% 0 240);
    --color-base-emph: oklch(92% 0 240);
    --color-base-border: oklch(90% 0 240);
    --color-base-border-emph: oklch(88% 0 240);

    --color-fg: oklch(32% 0 240);
    --color-fg-weak: oklch(40% 0 240);
    --color-fg-emph: oklch(20% 0.01 240);
    --color-fg-dim: oklch(48% 0 240);
    --color-fg-muted: oklch(58% 0 240);

    --color-primary: oklch(95% 0.04 240);
    --color-primary-subtle: oklch(93.5% 0.06 240);
    --color-primary-emph: oklch(92% 0.08 240);
    --color-primary-border: oklch(90% 0.04 240);
    --color-primary-fg: oklch(52.5% 0.17 225);

    /* --color-primary: oklch(52.93% 0.2346 261.46);
    --color-primary-subtle: oklch(55.93% 0.2346 261.46);
    --color-primary-emph: oklch(49.93% 0.2346 261.46);
    --color-primary-border: oklch(47.93% 0.2346 261.46);
    --color-primary-fg: oklch(98.9% 0.005 261.46); */

    --color-secondary: oklch(94% 0.16 240);
    --color-secondary-fg: oklch(32% 0 240);

    --color-negative: oklch(54.5% 0.1888 24.42);
    --color-negative-hover: oklch(58.5% 0.1888 24.42);
    --color-negative-active: oklch(52.5% 0.1888 24.42);
    --color-negative-fg: oklch(98.9% 0.005 24.42);
    --color-negative-border: oklch(49.5% 0.1888 24.42);

    --color-positive: oklch(50.49% 0.1717 142.5);
    --color-positive-fg: oklch(96% 0.005 142.5);
    --color-positive-border: oklch(45.49% 0.1717 142.5);

    --color-info: oklch(52.19% 0.1978 258.63);
    --color-info-hover: oklch(55.19% 0.1978 258.63);
    --color-info-fg: oklch(98.9% 0.005 258.63);

    --spacing-container-xl: 1536px;
    --spacing-container-lg: 1024px;
    --spacing-container-md: 768px;
    --spacing-container-sm: 640px;
    --spacing-avatar-xs: 16px;
    --spacing-avatar-sm: 24px;
    --spacing-avatar-md: 32px;
    --spacing-avatar-lg: 48px;
    --spacing-nbsp: 0.38ch;

    --text-display-lg: 3.5rem;
    --text-display-md: 3rem;
    --text-title-md: 2rem;
    --text-title-sm: 1.5rem;
    --text-title-xs: 1.25rem;
    --text-body-md: 1rem;
    --text-body-sm: 0.875rem;
    --text-body-xs: 0.75rem;

    --default-transition-duration: 75ms;

    --default-transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);

    --default-font-family:
        'DM Sans Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica,
        Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    --default-mono-font-family:
        ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

@utility slide-* {
    --slide-distance: --value(--spacing, [length], [percentage]);
}

@theme inline {
    --animate-fade-in: fade-in var(--tw-duration, var(--default-transition-duration))
        var(--tw-ease, var(--default-transition-timing-function));

    --animate-slide-in-from-b: slide-in-from-b
        var(--tw-duration, var(--default-transition-duration))
        var(--tw-ease, var(--default-transition-timing-function));

    --animate-slide-in: slide-in-from-b var(--tw-duration, var(--default-transition-duration))
        var(--tw-ease, var(--default-transition-timing-function));

    @keyframes fade-in {
        from {
            opacity: 0;
        }
    }

    @keyframes fade-out {
        to {
            opacity: 0;
        }
    }

    @keyframes slide-in-from-b {
        from {
            transform: translateY(var(--slide-distance, 100%));
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

@layer base {
    [data-theme='dark'],
    [data-theme='dark'] * {
        --color-neutral-950: oklch(18% 0 0);
        --color-surface: var(--static-black);
        --color-surface-subtle: var(--color-neutral-950);
        --color-surface-emph: var(--color-neutral-900);
        --color-surface-border: var(--color-neutral-900);

        --color-base: var(--color-neutral-950);
        --color-surface: var(--color-neutral-900);
        --color-base-subtle: var(--color-neutral-850);
        --color-base-subtle: var(--color-neutral-900);
        --color-base-emph: var(--color-neutral-850);
        --color-base-emph: var(--color-neutral-800);
        --color-base-border: var(--color-neutral-850);
        --color-base-border-emph: var(--color-neutral-800);
        --color-surface-border: var(--color-neutral-900);
        --color-fg: var(--color-neutral-300);
        --color-fg-weak: var(--color-neutral-300);
        --color-fg-emph: var(--color-neutral-300);
        --color-fg-dim: var(--color-neutral-500);
        --color-fg-muted: var(--color-neutral-600);

        --color-primary: oklch(80% 0.0626 230);
        --color-primary-subtle: oklch(82% 0.0726 230);
        --color-primary-emph: oklch(84% 0.0826 230);
        --color-primary-border: oklch(76% 0.0626 230);
        --color-primary-fg: var(--color-neutral-950);

        /* --color-primary: oklch(52.93% 0.2346 261.46);
    --color-primary-subtle: oklch(55.93% 0.2346 261.46);
    --color-primary-emph: oklch(49.93% 0.2346 261.46);
    --color-primary-border: oklch(47.93% 0.2346 261.46);
    --color-primary-fg: oklch(98.9% 0.005 261.46); */

        --color-secondary: oklch(94% 0.16 240);
        --color-secondary-fg: oklch(32% 0 240);

        --color-negative: oklch(54.5% 0.1888 24.42);
        --color-negative-hover: oklch(58.5% 0.1888 24.42);
        --color-negative-active: oklch(52.5% 0.1888 24.42);
        --color-negative-fg: oklch(98.9% 0.005 24.42);
        --color-negative-border: oklch(49.5% 0.1888 24.42);

        --color-positive: oklch(50.49% 0.1717 142.5);
        --color-positive-fg: oklch(96% 0.005 142.5);
        --color-positive-border: oklch(45.49% 0.1717 142.5);

        --color-info: oklch(52.19% 0.1978 258.63);
        --color-info-hover: oklch(55.19% 0.1978 258.63);
        --color-info-fg: oklch(98.9% 0.005 258.63);
    }

    [data-theme='accent'],
    [data-theme='accent'] * {
        --color-base: oklch(24% 0.06 261.46);
        --color-surface: oklch(24% 0.06 261.46);
        --color-base-subtle: oklch(24% 0.06 261.46);
        --color-base-subtle: oklch(24% 0.06 261.46);
        --color-base-emph: oklch(24% 0.06 261.46);
        --color-base-emph: oklch(24% 0.06 261.46);
        --color-base-border: oklch(32% 0.06 261.46);
        --color-base-border-emph: oklch(36% 0.06 261.46);
        --color-surface-border: oklch(30% 0.06 261.46);
        --color-fg: oklch(70% 0.02 261.46);
        --color-fg-emph: oklch(100% 0.02 261.46);
        --color-fg-weak: oklch(60% 0.02 261.46);
        --color-fg-dim: oklch(55% 0.02 261.46);
        --color-fg-muted: oklch(50% 0.02 261.46);
    }
}

@layer base {
    :root {
        font-size: 14px;
        font-weight: 400;
        color: var(--color-fg);
        line-height: 1.5;
    }

    body {
        font-size: var(--text-body-md);
        background-color: var(--color-surface);
    }

    small {
        font-size: var(--text-body-sm);
    }

    /* button:not(:disabled),
    [role='button']:not(:disabled) {
        cursor: pointer;
    } */

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 500;
    }
}

@layer components {
    .c-avatar {
        background-color: var(--color-surface);
        outline: 1px solid var(--color-base-border);
        border-radius: calc(infinity * 1px);
    }

    .c-avatar--fallback {
        background-color: var(--color-surface);
        border: 1px solid var(--color-base-border);
        border-radius: calc(infinity * 1px);
    }
}

@utility ring-focus-primary {
    @apply ring-2 ring-primary/20;
}

@utility ring-focus-fg {
    @apply ring-2 ring-fg/15;
}

@utility ring-focus-negative {
    @apply ring-2 ring-negative/20;
}

.tiptap p.is-editor-empty:first-child::before {
    color: var(--color-fg-muted);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}
.tiptap ul[data-type='taskList'] li,
.prose ul[data-type='taskList'] li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1ch;

    & > div > p {
        margin: 0;
    }

    & > label > input {
        display: block;
        transform: translateY(calc(1rem - 0.5lh));
        accent-color: var(--color-primary);
    }
}

@utility prose {
    --tw-prose-body: var(--color-fg);
    --tw-prose-headings: var(--color-fg-emph);
    --tw-prose-lead: var(--color-pink-700);
    --tw-prose-links: var(--color-info);
    --tw-prose-bold: var(--color-fg-emph);
    --tw-prose-counters: var(--color-fg-muted);
    --tw-prose-bullets: var(--color-fg-muted);
    --tw-prose-hr: var(--color-base-border);
    --tw-prose-quotes: var(--color-fg-muted);
    --tw-prose-quote-borders: var(--color-surface-border);
    --tw-prose-captions: var(--color-pink-700);
    --tw-prose-code: var(--color-fg);
    --tw-prose-pre-code: var(--color-fg);
    --tw-prose-pre-bg: var(--color-base-subtle);
    --tw-prose-th-borders: var(--color-base-border);
    --tw-prose-td-borders: var(--color-base-border);

    --tw-prose-invert-body: var(--tw-prose-body);
    --tw-prose-invert-headings: var(--tw-prose-headings);
    --tw-prose-invert-lead: var(--tw-prose-lead);
    --tw-prose-invert-links: var(--tw-prose-links);
    --tw-prose-invert-bold: var(--tw-prose-bold);
    --tw-prose-invert-counters: var(--tw-prose-counters);
    --tw-prose-invert-bullets: var(--tw-prose-bullets);
    --tw-prose-invert-hr: var(--tw-prose-hr);
    --tw-prose-invert-quotes: var(--tw-prose-quotes);
    --tw-prose-invert-quote-borders: var(--tw-prose-quote-borders);
    --tw-prose-invert-captions: var(--tw-prose-captions);
    --tw-prose-invert-code: var(--tw-prose-code);
    --tw-prose-invert-pre-code: var(--tw-prose-pre-code);
    --tw-prose-invert-pre-bg: var(--tw-prose-pre-bg);
    --tw-prose-invert-th-borders: var(--tw-prose-th-borders);
    --tw-prose-invert-td-borders: var(--tw-prose-td-borders);

    line-height: inherit;
    font-size: inherit;
}
